.gradio-iframe-container {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 0;
  }

.gradio-iframe-container iframe {
    width: 100%;
    height: 680px;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
  }

